<!-- Se incluye la plantilla del header -->
<% include templates/_header %>

    <div class="container">
        <div class="row justify-content-center">
            <p class="display-4">
                Registros
            </p>
        </div>
        <div class="row justify-content-end">
            <a href="/add" class="btn btn-info btn-block col-2">
                <i class="fa fa-plus" aria-hidden="true"></i> Añadir
            </a>
        </div>
        <div class="row">
            <table id="table" class="display responsive nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>RFC</th>
                        <th>Nombre principal</th>
                        <th>Nombre de la empresa</th>
                        <th>Teléfono</th>
                        <th>Fecha creación</th>
                        <th>Fecha modificación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) {%>
                        <% for(var index = 0; index < data.length; index++) { %>
                            <tr>
                                <td><%= (index + 1) %></td>
                                <td><%= data[index].rfc %></td>
                                <td><%= data[index].principalName %></td>
                                <td><%= data[index].businessName %></td>
                                <td><%= data[index].phone %></td>
                                <td><%= data[index].createdDate.toLocaleString() %></td>
                                <td><%= data[index].modifiedDate.toLocaleString() %></td>
                                <td class="row"><a href="/update/<%= data[index].id %>" class="btn btn-info btn-block "><i class="far fa-edit"></i></a>
                                <a href="/delete/<%= data[index].id %>" class="btn btn-danger btn-block delete "><i class="fas fa-times"></i></a></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

<!-- Se incluye la plantilla del footer-->
<% include templates/_footer %>